@font-face

{
    font-family: 'MyriadProRegular';
    src: url('../fonts/myriadpro-regular.eot');
    src: url('../fonts/myriadpro-regular.eot') format('embedded-opentype'), url('../fonts/myriadpro-regular.woff2') format('woff2'), url('../fonts/myriadpro-regular.woff') format('woff'), url('../fonts/myriadpro-regular.ttf') format('truetype'), url('../fonts/myriadpro-regular.svg#MyriadProRegular') format('svg');
}
@font-face

{
    font-family: 'MyriadProCondensed';
    src: url('../fonts/myriadpro-cond_0.eot');
    src: url('../fonts/myriadpro-cond_0.eot') format('embedded-opentype'), url('../fonts/myriadpro-cond_0.woff2') format('woff2'), url('../fonts/myriadpro-cond_0.woff') format('woff'), url('../fonts/myriadpro-cond_0.ttf') format('truetype'), url('../fonts/myriadpro-cond_0.svg#MyriadProCondensed') format('svg');
}
@font-face {
    font-family: 'MyriadProBoldCondensed';
    src: url('../fonts/myriadpro-boldcond.eot');
    src: url('../fonts/myriadpro-boldcond.eot') format('embedded-opentype'), url('myriadpro-boldcond.woff2') format('woff2'), url('../fonts/myriadpro-boldcond.woff') format('woff'), url('../fonts/myriadpro-boldcond.ttf') format('truetype'), url('../fonts/myriadpro-boldcond.svg#MyriadProBoldCondensed') format('svg');
}
body {
    font-family: 'MyriadProRegular', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: #959595;
}
.wrapper,
.article-wrap {
    width: 940px;
    margin: auto;
    padding: 0;
}
.header {
    width: 100%;
    margin: auto;
    margin-bottom: 25px;
    padding-top: 53px;
    padding-bottom: 41px;
    padding-right: 10px;
}
.header__nav {
    float: left;
    width: 315px;
    margin-top: 11px;
}
.header__nav ul {
    padding: 0;
}
.header__nav li {
    display: inline-block;
    padding-right: 39px;
    list-style: none;
}
.header__nav a {
    font-size: 14px;
    text-decoration: none;
    color: #999;
}
.header__nav ul li:first-child {
    font-weight: bold;
}
.header__logo {
    float: left;
    width: 150px;
    margin-left: 80px;
}
.header__input {
    float: right;
    width: 150px;
    margin-top: 5px;
}
.header__input-find {
    margin-left: 6px;
    margin-top: 6px;
    height: 15px;
    position: absolute;
}
.header__input-search {
    height: 28px;
    padding-left: 26px;
}
.slider-wrap {
    float: left;
    width: 700px;
}
.slider__feature {
    float: right;
    width: 218px;
}
.slider__feature h2 {
    font-family: 'MyriadProCondensed';
    font-size: 30px;
    font-weight: 100;
    color: #494949;
}
.slider__feature p {
    margin: 27px 0 23px 0;
    line-height: 18px
}
.slider__feature p:last-of-type {
    margin: 0 0 50px 0;
}
.slider__feature a,
.leftcol a {
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    padding-left: 100px;
    ;
}
.wrapper-features {
    background: #ebebeb;
    margin-bottom: 54px;
}
.features {
    width: 940px;
    margin: 0 auto;
    padding-top: 13px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d5d4d4;
}
.features li {
    display: inline-block;
    width: 290px;
    margin-right: 20px
}
.features img {
    margin-right: 20px;
    float: left;
}
.features h3 {
    color: #000;
    font-family: 'MyriadProBoldCondensed';
    font-size: 20px;
}
.article-wrap {
    margin-bottom: 36px;
}
article img {
    float: right;
    height: 461px;
}
.leftcol {
    width: 460px;
    float: left;
}
.leftcol h1 {
    font-family: 'MyriadProBoldCondensed';
    font-size: 36px;
    color: #000;
    margin: 0 0 26px 0;
}
.leftcol p {
    width: 214px;
    margin: 0;
    line-height: 18px;
}
.leftcol p:first-of-type {
    float: left;
}
.leftcol p:last-of-type {
    float: right;
    margin-bottom: 47px
}
.leftcol a {
    padding-left: 70px
}
.wrapper-footer {
    width: 100%;
    background: #ebebeb;
    margin-top: 52px;
}
footer {
    width: 940px;
    margin: auto;
}
footer section {
    margin-bottom: 41px;
}
.footer__about {
    float: left;
    margin-top: 57px;
    margin-right: 24px;
    width: 220px;
}
.footer__about p {
    line-height: 18px;
}
.footer__about p:last-of-type {
    margin-bottom: 16px;
}
.footer__twitter {
    float: left;
    margin-top: 37px;
    margin-right: 33px;
    width: 206px
}
.footer__post {
    float: left;
    margin-top: 36px;
    margin-right: 20px;
    width: 220px
}
.footer__post p:first-of-type {
    margin-bottom: 30px;
}
.footer__post p:last-of-type {
    margin-bottom: 12px
}
.footer__flickr {
    float: left;
    margin-top: 37px;
    width: 217px
}
.footer__flickr li {
    display: inline-block;
    margin-right: 10px;
}
.footer__flickr img {
    border: 2px solid #fff;
    box-shadow: 1px 1px 1px #ccc;
}
.footer__flickr li:nth-of-type(1),
.footer__flickr li:nth-of-type(2),
.footer__flickr li:nth-of-type(3) {
    margin-bottom: 20px;
}
footer h4 {
    font-size: 14px;
    font-family: 'MyriadProBoldCondensed';
}
footer a {
    text-decoration: none
}
/* Вспомогательные стили */

.clearfix:before,
.clearfix:after {
    display: table;
    content: ' ';
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
h3,
h2 {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}
img{
    border:none;
}
/* Адаптив 1024px */

@media screen and (max-width: 1024px) {
    .header {
        margin-bottom: 0;
    }
    .wrapper,
    .article-wrap,
    .features,
    footer {
        width: 90%;
        margin: 0 auto;
    }
    .header__logo {
        float: left;
        width: 150px;
        margin-left: 60px;
        margin-right: 100px;
    }
    .header__input {
        float: left;
        width: 150px;
        margin-top: 5px;
    }
    .bx-wrapper {
        display: none;
    }
    .slider-wrap {
        float: none;
        margin: 0 auto
    }
    .slider__feature {
        float: none;
        width: 100%;
        margin-bottom: 20px;
        text-align: right;
    }
    .slider__feature p,
    .slider__feature h2 {
        text-align: left;
    }
    .slider__feature p:last-of-type {
        margin-bottom: 14px;
    }
    .slider__feature a {
        padding: 0;
    }
    .features li {
        display: inline-block;
        width: 30%;
        margin-right: 25px;
    }
    .features img {
        margin-top: 10px;
        margin-right: 20px;
        float: left;
    }
    .features h3,
    .features p {
        margin-bottom: 0;
    }
    article img {
        height: 345px;
    }
    .leftcol {
        width: 446px;
        text-align: right;
    }
    .leftcol p,
    .leftcol h1 {
        text-align: left;
    }
    .footer__about,
    .footer__twitter,
    .footer__post,
    .footer__flickr {
        width: 21%;
        margin-left: 11px;
    }
}
/* 960px */

@media screen and (max-width: 960px) {
    .header {
        padding-top: 10px;
    }
    .header__nav,
    .header__logo {
        float: none;
        margin: 33px auto 0px auto;
    }
    .header__input {
        float: none;
        margin: auto;
    }
    .header__input-search {
        margin-top: 33px;
        margin-left: -20px;
    }
    .header__input-find {
        margin-left: -13px;
        margin-top: 39px;
    }
    .features li {
        display: block;
        width: 100%;
        margin-bottom: 52px;
    }
    .features img {
        float: left;
    }
    .features h3 {
        padding-top: 10px
    }
    .leftcol {
        float: none;
        width: 100%;
        margin: 0 auto;
    }
    .leftcol p:first-of-type,
    .leftcol p:last-of-type {
        float: none;
        width: 100%;
    }
    .leftcol h1 {
        text-align: center;
    }
    article img {
        display: none;
    }
    .wrapper-footer {
        margin-top: 32px;
    }
    .footer__about,
    .footer__twitter,
    .footer__post {
        width: 20%;
        margin-left: 15px;
    }
    .footer__flickr li {
        margin-right: 6px;
    }
}
/* 768px */

@media screen and (max-width: 768px) {
    footer section {
        margin-bottom: 0px;
    }
    .features {
        padding-bottom: 0;
    }
    .footer__about,
    .footer__twitter,
    .footer__post {
        width: 67%;
        margin-left: 15px;
        margin-top: 22px;
    }
    .footer__flickr {
        width: 100%;
        margin-bottom: 30px;
        margin-top: 22px;
    }
    .footer__flickr li {
        margin-right: 17px;
    }
}
